@model TabletopGames.ViewModels.GameDomainsViewModel

@{
    ViewBag.Title = "Game domains";
}

<h2>Game Domains List</h2>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Input desired page"
       class="float-end">
</pager>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                    ID
                </a>
            </th>

            <th>
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
                    Name
                </a>
            </th>

            <th>
            </th>
            <th>
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var izv in Model.GameDomains)
        {
        <tr>
            <td class="text-left">@izv.IdDomain</td>
            <td class="text-left">@izv.NameDomain</td>

        </tr>
        }
    </tbody>
</table>

@section scripts {
<script src="~/js/pager.js" asp-append-version="true"></script>
}